{% extends "base.html" %}

{% block titulo %} Iicio {% endblock %}

{% block contenido %} 

<br>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'autores' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\firma.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Autores
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'editoriales' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\investigar.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Editoriales
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'libros' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\libro.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Libros
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'sucursales' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\universidad.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Sucursales
                </a>
            </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'lectores' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\tarjeta-de-identificacion.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Lectores
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'prestamos' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\reloj.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Prestamos
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'copias' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\aglutinante.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Copias
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'empleados' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\trabajador.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Empleados
                </a>
            </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'reporte1' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\reporte_sucursal.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Reporte de
                  Sucursales
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'lectores' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\tarjeta-de-identificacion.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Reporte de
                  libros
                </a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
            <div class="card-body" style="padding: 0%;">
                <a  href="{% url 'lectores' %}" class="btn btn-light" style="width: 100%; display: flex; align-items: center; margin: 0%; font-weight: bold; font-size: x-large; color: #0d6efd; background-color: white; ">
                  {% load static %} <img src="{% static "libreria\media\tarjeta-de-identificacion.png" %}" style="width: 50%; align-self: flex-start; padding: 2%; background-color: white;" class="card-img-top" alt=""/> 
                  Reporte de
                  prestamos
                </a>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}