<form enctype="multipart/form-data" method="post">

    {% csrf_token %}
    {% for campo in formulario %}
      {% if campo.name == 'fecha_inicio' or campo.name == 'fecha_fin' %}
        <div class="mb-3">
          <label for="" class="form-label">{{campo.label}}:</label>
          <input 
            type="date"
            class="form-control" 
            name="{{campo.name}}" 
            id="" 
            aria-describedby="helpId" 
            placeholder={{campo.label}}"
            value="{{ campo.value|date:'Y-m-d' | default:'' }}"/>
        </div>
      {% elif campo.name == 'id_sucursal' %}
        <div class="mb-3">
          <label for="" class="form-label">{{campo.label}}:</label>
          <select class="form-select" name="{{campo.name}}" id="">
            <option value="{{ Sucursal.id_sucursal }}" selected >{{ sucursal.nombre }}</option>
            {% for sucursal in sucursales %}
              <option value="{{ sucursal.id_sucursal }}">{{ sucursal.nombre }}</option>
            {% endfor %}
          </select>
        </div>
      {% else %}
        <div class="mb-3">
          <label for="" class="form-label">{{campo.label}}:</label>
  
          <input 
            type="{{campo.field.widget.input_type}}"
            class="form-control"
            name="{{campo.name}}" 
            id="" 
            aria-describedby="helpId" 
            placeholder="{{campo.label}}"
            value="{{ campo.value | default:'' }}"/>
        </div>
        <div class="col-12 help-text"> {{campo.errors}} </div> 
      {% endif %}
    {% endfor %}
  
    <input name="" id="" class="btn btn-primary" type="submit" value="Enviar información">
    <a name="" id="" class="btn btn-danger" href="{% url 'prestamos' %}" role="button">Cancelar</a>
  </form>