#div_login{
    display: flex;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    box-shadow:-6px -6px 20px rgba(255, 255, 255,1), /*sombra*/
                6px 6px 20px rgba(0, 0, 0, .1);
}

#div_img{
    width: 50%;
    padding: 2%;
    display: flex;
}

#img_login{
    width: 80%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#form_login{
    width: 50%;
    padding: 5%;
    margin: auto;
}

#titulo_login{
    text-align: center;
    width: 100%;
    margin: auto;
}

#input_usuario{
    font-size: x-large;
}

#input_contra{
    font-size: x-large;
}

#div_btn_login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_login{
    width: 100%;
    color: white;
    font-size: x-large;
    background-color: #fd7e14;
}